<footer>
                <div class="container">
                    <hr class="line_footer" />
                    <div class="container_logo_and_title">
                        <ul class="footer_logo_and_title">
                            <li>
                                <a href="#" class="icon_footer_yacht">
                                <svg width="23" height="23">
                                    <use href="./img/marifooter/fontisto-yacht.svg" alt="Yhact"></use>
                                </svg>
                                </a>
                            </li>
                            <li class="text_main_footer">
                                <p>YACHT ADVENTURES</p>
                            </li>
                        </ul>
                    </div>
                    <div class="container_menu_footer">
                        <ul class="menu_footer">
                            <li class="text_main_footer">ABOUT</li>
                            <li class="text_main_footer">YACHTS</li>
                            <li class="text_main_footer">REVIEWS</li>
                        </ul>
                    </div>
                    <div class="social_footer">
                        <p class="social_footer_text">WE IN SOCIAL</p>
                        <ul class="social_icons">
                            <li class="ramka">

                                <a href="#" class="social_media_link">
                                    <svg width="32" height="32">
                                        <use href="./img/marifooter/icons.svg#icon-u_facebook-f-1"></use>
                                    </svg>
                                </a>
                            </li>
            
                            <li>
                                <a href="#" class="social_media_link">
                                    <svg  width="32" height="32" viewBox="0 0 32 32" fill="none">
                                        <use href="./img/marifooter/icons.svg#icon-u_instagram-2"></use>
                                    </svg>
                                </a>
                            </li>
            
                            <li>
                                <a href="#" class="social_media_link">
                                    <svg width="32" height="32" class="ramka">
                                        <use href="./img/marifooter/icons.svg#icon-u_instagram-3"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
            
                    <ul class="spisok_vnizu_stranici">
                        <p class="tekst_vnizu_stranici">2023. Yacht Adventures</p>
                        <p class="tekst_vnizu_stranici">Privacy Policy</p>
                    </ul>
                </div>
            </footer>
        
            

            