<footer class="footer">
  <div class="container">
    <div class="footer-content">
        <a class="footer-logo header-link" href="./index.html">
            <img src="./img/header/header-logo.svg" alt="logo">
            YACHT ADVENTURES
        </a>
        
        <nav class="footer-nav">
            <ul class="footer-nav-list">
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#about-btn">About</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#yachts-btn">Yachts</a>
              </li>
              <li class="footer-nav-item">
                <a class="footer-nav-link" href="#rewiews-btn">Rewiews</a>
              </li>
            </ul>
          </nav>
     
    <div class="social-footer">
      <p class="footer-title">WE IN SOCIAL</p>
      <ul class="social-icons">
        <li class="social-icons-item">
          <a href="#" class="social-media-link">
            <svg width="32" height="32">
              <use href="./img/marifooter/icons.svg#icon-u_facebook-f-1"></use>
            </svg>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-media-link">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none">
              <use href="./img/marifooter/icons.svg#icon-u_instagram-2"></use>
            </svg>
          </a>
        </li>

        <li class="social-icons-item">
          <a href="#" class="social-media-link">
            <svg width="32" height="32" class="ramka">
              <use href="./img/marifooter/icons.svg#icon-u_instagram-3"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    </div>
    <div class="copy-text">
      <p class="copy-text-block">2023. Yacht Adventures</p>
      <p class="copy-text-block">Privacy Policy</p>
    </div>

  </div>
</footer>
