<!-- Прядко Марія -->

        <!-- Your code -->
             <!-- logo img + logo name -->
            <footer class="footer">
                <div class="container container-footer">
            
            
                     <a class="footer-link " href="./index.html">
                         <img src="./img/marifooter/fontisto-yacht.svg" alt="logo footer" />
                              YACHT ADVENTURES</a>
 
                    <ul class="footer-menu-container">
                        <li class="footer-nav-item">
                            <a href="#About" class="footer-menu-text"> About</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#Yachts" class="footer-menu-text"> Yachts</a>
                        </li>
                        <li class="footer-nav-item">
                            <a href="#Reviews" class="footer-menu-text"> Reviews</a>
                        </li>
                    </ul>
            
                    <div class="footer-social">
                        <p class="media">WE IN SOCIAL</p>
                        <ul class="social-footer list">
                            <li class="footer-li">
                                <a class="link social" href="">
                                    <svg class="social-svg" width="30px" height="30px">
                                        <use href="./img/marifooter/icons.svg#icon-u_facebook-f-1"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-li">
                                <a class="link social" href="">
                                    <svg class="social-svg" width="30px" height="30px">
                                        <use href="./img/marifooter/icons.svg#icon-u_instagram-2"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="footer-li">
                                <a class="link social" href="">
                                    <svg class="social-svg" width="30px" height="30px">
                                        <use href="./img/marifooter/icons.svg#icon-u_instagram-3"></use>
                                    </svg>
                                </a>
                            </li>
            
                        </ul>
                    </div>
            
            
            
            
                </div>
                </div>
                <div class="footer-form-dn">
                    <p class="from-dn1">2023. Yacht Adventures</p>
                    <p class="from-dn2">Privacy Police</p>
            
                </div>
            
            </footer>
     