<header class="header">
  <div class="container">
    <div class="logo">
      <img src="./img/header/header-logo.svg" alt="logo">
    </div>
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="/" class="nav-link">About</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Yahts</a>
        </li>
        <li class="nav-item">
          <a href="/" class="nav-link">Reviews</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
