<header class="header">
  <div class="container">
    <div class="top-header">
      <a class="header-link header-link-logo" href="./index.html">
        <img src="./img/header/header-logo.svg" alt="logo" />
        <!--Сюди додати кораблик + текст як одна свr-->
        YACHT ADVENTURES</a
      >
      <div class="hamburger-menu menu-toggle js-open-menu">
        <!--Сюди додати свг бургера і цей коментар видаліть-->
        <img src="./img/header/hamburger-menu.svg" alt="menu" />
      </div>

      <nav class="header-nav">
        <ul class="header-nav-list list">
          <li class="header-nav-item">
            <!--Сюди додати id якір але id має мати назву не таку як клас-->
            <a class="header-nav-link link main-text" href="/">About</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link link main-text" href="/">Yachts</a>
          </li>
          <li class="header-nav-item">
            <a class="header-nav-link link main-text" href="/">Rewiews</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="hamburger-logo">
    <a class="header-link header-link-logo" href="./index.html">
      <img src="./img/header/header-logo.svg" alt="logo" />
      <!--Сюди додати кораблик + текст як одна свr-->
      YACHT ADVENTURES</a
    >
    <button class="menu-toggle js-close-menu">
      X
      <!--Сюди додати свг закриваючого меню (хрестик) і цей коментар видаліть-->
    </button>
  </div>
  <div class="hamburger-mobile-content">
    <ul class="mobile-menu">
      <li>
        <a href="/" class="link hamburger-nav-link">About</a>
      </li>
      <li>
        <a href="/" class="link hamburger-nav-link">Yachts</a>
      </li>
      <li><a href="/" class="link hamburger-nav-link">Reviews</a></li>
    </ul>
  </div>
</div>

<script>
  (() => {
    const mobileMenu = document.querySelector('.js-menu-container');
    const openMenuBtn = document.querySelector('.js-open-menu');
    const closeMenuBtn = document.querySelector('.js-close-menu');

    const toggleMenu = () => {
      const isMenuOpen =
        openMenuBtn.getAttribute('aria-expanded') === 'true' || false;
      openMenuBtn.setAttribute('aria-expanded', !isMenuOpen);
      mobileMenu.classList.toggle('is-open');

      const scrollLockMethod = !isMenuOpen
        ? 'disableBodyScroll'
        : 'enableBodyScroll';
      bodyScrollLock[scrollLockMethod](document.body);
    };

    openMenuBtn.addEventListener('click', toggleMenu);
    closeMenuBtn.addEventListener('click', toggleMenu);

    // Close the mobile menu on wider screens if the device orientation changes
    window.matchMedia('(min-width: 768px)').addEventListener('change', e => {
      if (!e.matches) return;
      mobileMenu.classList.remove('is-open');
      openMenuBtn.setAttribute('aria-expanded', false);
      bodyScrollLock.enableBodyScroll(document.body);
    });
  })();
</script>
