<div id="rent-btn" class="rent-content">
    <div class="rent-content-first">
        <h2>Rent a yacht now</h2>
        <img
            src="./img/rent/rent-yaht.png"
            alt="Diving services"
            width="259"
        />
    </div>  
    <form class="form" action="#" method="post">
        <div class="form-field">
          <label class="form-label" for="user-name">Full Name</label>
          <div class="form-item">
            <input
              class="form-input"
              type="text"
              name="user-name"
              id="user-name"
              required
            />
          </div>
        </div>
        <div class="form-field">
            <label class="form-label" for="mail">Email</label>
            <div class="form-item">
              <input
                class="form-input"
                type="email"
                name="user-email"
                id="mail"
                required
              />
            </div>
          </div>

        <div class="form-field">
          <label class="form-label" for="phone">Phone number</label>
          <div class="form-item">
            <input
              class="form-input"
              type="tel"
              name="user-phone"
              id="phone"
              required
            />
          </div>
        </div>
        
        <div class="form-field">
          <label class="form-label" for="user-comment">Comment</label>
          <textarea
            class="form-textarea"
            name="user-comment"
            id="user-comment"
          ></textarea>
        </div>
        
        <button class="form-btn btn" type="submit">Send</button>
      </form>
     
</div>