
<!-- Pol Li -->
<section id="reviews-btn" class="reviews">
  <div class="reviews-div container">
    <div class="reviews-first">
      <h3 class="reviews-title">
        <span>Yacht Adventures</span> take pride in providing the best possible
        service and experience to our customers
      </h3>
      <p class="reviews-text">
        Our customers have enjoyed unforgettable moments on our yachts. Don't
        just take our word for it - read on to find out what they have to say
        about their journey with us.
      </p>
    </div>
    <ul class="reviews-list list">
      <li class="reviews-item one">
        <div class="photo-reviews ">
          <!-- <picture>
             <source srcset="mdn-logo-wide.png" media="(min-width: 600px)">
 <img src="mdn-logo-narrow.png" alt="MDN"> -->
          <img class="im-reviews" srcset="./img/poli/john@1x.png 1x,
                                              ./img/poli/john@2x.png 2x" src="./img/poli/john@1x.png" alt="john">
          <!-- </picture> -->
        </div>
        <h4 class="ri-title">John Wax</h4>
        <p class="ri-par">I rented the Lagoon 620 with my family for a week-long vacation and it was the best
          decision ever. The
          yacht was
          spacious, comfortable, and luxurious, and the crew took care of everything.</p>


      </li>
      <li class="reviews-item two">
        <div class="photo-reviews ">
          <img class="im-reviews" srcset="./img/poli/victoria@1x.png 1x,
                                            ./img/poli/victoria@2x.png 2x" src="./img/poli/victoria@1x.png"
            alt="victoria" width="56">
        </div>
        <h4 class="ri-title">Victoria Romashenko</h4>
        <p class="ri-par">The Sunseeker Manhattan 66 was the perfect choice for our romantic getaway. The yacht
          was beautifully
          designed, with all
          the amenities we needed, and the crew was attentive and friendly.</p>


      </li>
      <li class="reviews-item three">
        <div class="photo-reviews ">
          <img class="im-reviews" srcset="./img/poli/ihor@1x.png 1x,
                                            ./img/poli/ihor@2x.png 2x" src="./img/poli/ihor@1x.png" alt="ihor"
            width="56">
        </div>
        <h4 class="ri-title">Ihor Trachuk</h4>
        <p class="ri-par">The Azimut 80 was the most luxurious yacht I've ever been on. The cabins were spacious
          and elegant, and
          the outdoor
          areas were perfect for relaxing and entertaining. Worth every penny!</p>


      </li>
    </ul>


  </div>
</section>