<section class="services">
    <div class="container">
      <ul class="services-list">
        <li class="services-item">
          <img
            src="./img/services/diving.png"
            alt="Diving services"
            width="335"
            height="335"
            class = "services-div"
          />
          <button class="services-btn" type="button">
            Diving
          </button>
        </li>
        <li class="services-item">
          <img
            src="./img/services/fishing.png"
            alt="Fishing services"
            width="335"
            height="335"
            class = "services-fis"
          />
          <button class="services-btn" type="button">
            Fishing
          </button>
        </li>
        <li class="services-item">
          <img
            src="./img/services/sunbathing.png"
            alt="Sunbathing services"
            width="335"
            height="335"
            class = "services-sun"
          />
          <button class="services-btn" type="button">
            Sunbathing
          </button>
        </li>
      </ul>
    </div>
  </section>