<section class="services">
  <div class="container">
    <ul class="services-list">
      <li class="services-item">
        <img
          src="./img/services/diving@1x.png"
          srcset="
            ./img/services/diving@1x.png 1x,
            ./img/services/diving@2x.png 2x,
            ./img/services/diving@2x.png 3x
          "
          alt="Diving services"
          width="335"
          height="335"
          class="services-div"
        />
        <button class="services-btn" type="button">Diving</button>
      </li>
      <li class="services-item">
        <img
          src="./img/services/fishing@1x.png"
          srcset="
            ./img/services/fishing@1x.png 1x,
            ./img/services/fishing@2x.png 2x,
            ./img/services/fishing@2x.png 3x
          "
          alt="Fishing services"
          width="335"
          height="335"
          class="services-fis"
        />
        <button class="services-btn" type="button">Fishing</button>
      </li>
      <li class="services-item">
        <img
          src="./img/services/sunbathing@1x.png"
          srcset="
            ./img/services/sunbathing@1x.png 1x,
            ./img/services/sunbathing@2x.png 2x,
            ./img/services/sunbathing@2x.png 3x
          "
          alt="Sunbathing services"
          width="335"
          height="335"
          class="services-sun"
        />
        <button class="services-btn" type="button">Sunbathing</button>
      </li>
    </ul>
  </div>
</section>
