<!-- Elshan Huliiev -->

<section class="yahts">
  <div class="yaht-container container">
    <ul class="yaht-list list">
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-1.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">Arrow</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-2.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">BENETTI OASIS 40M...</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-3.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">BELLE ANNA</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-4.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">Ellen</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-5.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">MIRAGE 401</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-6.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">KING</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-7.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">SALT</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-8.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">STORM</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
      <li class="yaht-item">
        <img
          class="yaht-img"
          src="./img/yahts/yaht-9.jpg"
          srcset=""
          alt="yaht"
          width="322"
          height="268"
        />
        <div class="yaht-text-container">
          <h3 class="yaht-name">COLLU</h3>
          <p class="yaht-text">LUXURY YAHTS</p>
        </div>
      </li>
    </ul>
  </div>
</section>
