<!-- Elshan Huliiev -->

<section class="yahts">
  <div class="container">
    <div class="">
      <ul class="yaht-list list">
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-1.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">Arrow</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-2.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">BENETTI OASIS 40M...</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-3.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">BELLE ANNA</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-4.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">Ellen</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-5.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">MIRAGE 401</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-6.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">KING</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-7.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">SALT</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-8.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">STORM</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
        <li class="yaht-item">
          <img
            class="yaht-img"
            src="./img/yahts/yaht-9.jpg"
            srcset=""
            alt="yaht"
            width="322"
            height="268"
          />
          <h3 class="">COLLU</h3>
          <p class="">LUXURY YAHTS</p>
        </li>
      </ul>
    </div>
  </div>
</section>
