/* Прядко Марія */


footer {
    background-color: var(--dark-blue);
}

/* Mobile */
@media screen and (max-width:768px) {
    .container_footer {
        width: 335px;
        height: 334px;
        flex-shrink: 0;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 14px;
    }

    .line_footer {
        width: 335px;
        height: 0px;
        flex-shrink: 0;
        stroke-width: 1px;
        stroke: rgba(246, 245, 239, 0.20);
    }

    .footer_logo_and_title {
        display: flex;
        align-items: center;
        padding-top: 44px;
        padding-bottom: 44px;
        gap: 8px;
    }

    .icon_footer_yacht {
        fill: var(--white);
    }

    .menu_footer {
        display: flex;
        flex-direction: column;
        gap: 14px;
    }

    .social_footer {
        padding-top: 40px;
    }

    .social_footer_text {
        margin-bottom: 16px;
    }

    .text_main_footer {}

    .tekst_vnizu_stranici {
        color: rgba(246, 245, 239, 0.50);
        text-align: center;
        font-family: DM Sans;
        font-size: 12px;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.36px;
    }

    .text_main_footer {
        /* margin-bottom: 16px; */
    }

    .social_icons {
        display: flex;
        gap: 14px;
    }

    .social_media_link {
        stroke-width: 1px;
        stroke: rgba(246, 245, 239, 0.50);
        fill: var(--white);
    }

    .tekst_vnizu_stranici_container {
        padding-top: 40px;
        padding-bottom: 14px;
        /* justify-content: center */
    }

    .spisok_vnizu_stranici {
        display: flex;
        gap: 14px;
        padding-top: 40px;
        padding-bottom: 14px;
        justify-content: center;
    }
}



/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1157px) {

    .line_footer {
        width: 704px;
        height: 0px;
        flex-shrink: 0;
    }

    .container_logo_and_title {
        margin-right: 135px;
        margin-top: 69px;
        display: inline-block;
    }

    .menu_footer {
        display: inline-block;

    }

    .social_footer {
        display: inline-block;
        margin-left: 143px;
    }

    .container_menu_footer {
        display: inline-block;
    }

    .social_icons {
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }

    .tekst_vnizu_stranici_container {
        margin-top: 100px;
        margin-bottom: 16px;
    }

    .tekst_vnizu_stranici {
        color: rgba(246, 245, 239, 0.50);
        text-align: center;
        font-family: DM Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 118%;
        letter-spacing: 0.42px;
    }

    .spisok_vnizu_stranici {
        display: flex;
    }
}


.logo_and_title {
    display: flex;
}


.text_main_footer {
    color: #F6F5EF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 118%;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}






