.header-link {
  display: flex;
  gap: 8px;
}
.header-link-logo:hover,
.header-link-logo:focus {
  color: #88B3B9;
}
.header-nav {
  display: none;
}

.top-header {
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hamburger-menu {
  position: absolute;
  right: 16px;
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: #88B3B9;
}
/*  Mobile menu */

.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0; 
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  z-index: 99;
}
.menu-toggle-close {
  padding-right: 20px; 
}
.menu-toggle-icon {
   fill: none;
  stroke: aliceblue; 
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110vh;
   padding-left: 20px; 
  background-color: var(--dark-blue);
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.hamburger-logo {
  border-bottom: 1px solid rgba(246, 245, 239, 0.2);
  height: 72px;
  display: flex;
  align-items: center;
}
.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  color: var(--white-color);
}

.hamburger-mobile-content {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
  align-items: center;
  height: 100%;
}
.mobile-menu {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hamburger-nav-link {
  color: var(--white-color);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}

.menu-toggle:focus,
.menu-toggle:hover {
  color: #88B3B9;
}
.hamburger-nav-link:hover,
.hamburger-nav-link:focus {
  color: #88B3B9;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
  .header-nav-list {
    display: flex;
    flex-direction: row;
    gap: 24px;

    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.18;
    letter-spacing: 0.42px;
    text-transform: uppercase;
  }
  .header-nav {
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
 .header {  
  max-width: 1216px;
  margin: 0 auto;
  }
}
.mobile-menu-light::before,
.mobile-menu-light::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #93ABAE;
    filter: blur(100px);
    z-index: 5;
}
 .mobile-menu-light::before {
     left: 0; 
    width: 279px;
    height: 279px;
    opacity: 0.6;
     
} 
 .mobile-menu-light::after {
    left: 60%;
    width: 195px;
    height: 195px;
    opacity: 0.3;
    padding-top: 50px;
} 