/* Base styles fom small devices   */

.header {
  padding: 24px 20px;
  border-bottom: 2px solid gray;
}
.heder-container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
  padding: 24px 20px;
  /* outline: 2px solid red;
  outline-offset: -2px; */
}

.heder-link-logo {
}
.heder-link-logo {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
  justify-content: flex-start;
  align-items: center;
}
.heder-nav {
  display: flex;
  justify-content: space-between;
}
.img-logo {
  display: inline-block;
}
/* Tablet screen */
@media only screen and (max-width: 767px) {
  .heder-nav-list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .heder-container {
    padding: 32px 32px;
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    padding: 32px 32px;
  }
  .heder-nav {
    display: flex;
    justify-content: space-between;
  }
  .heder-nav-list {
    display: flex;
    gap: 24px;
  }
}
/* Desktop screen */
@media only screen and (min-width: 1280px) {
  .heder-container {
    max-width: 1216px;
    padding: 32px 32px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 1280px) {
  .heder-nav {
    display: flex;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1280px) {
  .heder-nav-list {
    display: flex;
    gap: 24px;
  }
}
.nav-link:hover,
.nav-link:focus {
  color: #88b3b9;
}
.heder-link-logo {
  color: var(--white);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.nav-link {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
/* Mobile menu  */
.menu-toggle {
  min-height: 24px;
  min-width: 24px;
  /* display: flex;
  align-items: center;
  justify-content: center;  */
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: var(--dark-blue);
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  z-index: 999;
  background: var(--dark-blue);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 20px;
  color: var(--white);
}

.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  width: fit-content;
  margin: 0 auto;
  padding-top: 212px;
}
.mobile-link-item {
  color: var(--white);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 118%; /* 16.52px */
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.mobile-menu .link {
  display: block;
  padding: 14px;
  color: var(--white);
  text-decoration: none;
}
