.rent {
  padding: 80px 0;
}
.rent-container {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.rent-first-block {
  width: 335px;
  margin-bottom: 40px;
}
.first-block-img {
  width: 259px;
}
.rent-h2 {
  color: var(--white-color);
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -1.62px;
  margin-bottom: 16px;
}
.rent-form-box {
  margin-bottom: 24px;
}

.rent-form-field {
  color: var(--white-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.63px;
  display: block;
}
.rent-form-input {
  display: block;
  color: var(--white-color);
  border-color: transparent;
  background-color: transparent;
  outline: transparent;
  width: 335px;
  height: 16px;
  border-bottom: 1px solid var(--white-color);
  transition: border-bottom 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-form-input:focus,
.rent-form-input:hover {
  border-bottom: 1px solid #f6f5ef80;
}
textarea.rent-form-input {
  height: 58px;
}
.rent-button {
  font-size: 14px;
  font-weight: 700;
  font-family: DM Sans;
  line-height: 1.1;
  letter-spacing: -0.63px;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 60px;
  background-color: transparent;
  padding: 14px 28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.rent-button-svg {
  margin-left: 16px;
  fill: var(--white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.rent-button:hover,
.rent-button:focus {
  color: var(--light-green);
  border-color: var(--light-green);
}

.rent-button:hover .rent-button-svg,
.rent-button:focus .rent-button-svg {
  fill: var(--light-green);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #11131f80;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 335px;
  border-radius: 20px;
  background-color: #1f212d;
  padding: 40px 24px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button-close {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 14px;
  right: 14px;
}
.modal-button-close:focus,
.modal-button-close:hover {
  fill: var(--light-green);
}
.modal-icon {
  fill: var(--white-color);
}
.rent-modal-img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 24px;
}
.rent-modal-p {
  color: var(--white-color);
  font-family: DM Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -1.08px;
  margin-bottom: 14px;
}
.rent-modal-text {
  color: var(--white-color);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.28px;
}
@media screen and (min-width: 768px) {
  .rent-container {
    flex-direction: row;
    align-items: normal;
    justify-content: center;
  }
  .rent-first-block {
    margin-bottom: 0;
    margin-right: 69px;
  }
  .first-block-img {
    width: 271px;
  }
  .rent-h2 {
    font-size: 60px;
    letter-spacing: -2.7px;
    margin-bottom: 32px;
  }

  .rent-form-box {
    margin-bottom: 28px;
  }
  .rent-form-box:last-of-type {
    margin-bottom: 32px;
  }

  .rent-form-input {
    font-size: 16px;
    width: 271px;
  }
  .rent-button {
    font-size: 18px;
    letter-spacing: -0.81px;
  }
  .modal {
    width: 570px;
    padding: 97px 64px 64px;
  }
  .rent-modal-img {
    width: 338px;
    height: 198px;
    margin-bottom: 21px;
  }
  .rent-modal-p {
    font-size: 32px;
    margin-bottom: 16px;
    letter-spacing: -1.44px;
  }
  .rent-modal-text {
    font-size: 16px;
    letter-spacing: -0.32px;
  }
  .modal-button-close {
    top: 32px;
    right: 32px;
  }
}
@media screen and (min-width: 1220px) {
  .rent-first-block {
    margin-right: 188px;
  }
  .first-block-img {
    height: 191px;
  }
  .rent-h2 {
    margin-bottom: 64px;
  }

  .rent-form-box {
    margin-bottom: 28px;
  }
  .rent-form-box:last-of-type {
    margin-bottom: 64px;
  }
}
