/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./header.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./yahts.css');
@import url('./services.css');
@import url('./rent.css');
@import url('./reviews.css');
@import url('./footer.css');


/*  Fonts */

@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-Regular.ttf) format('ttf');
  font-weight: 400; 
}
@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-Medium.ttf) format('ttf');
  font-weight: 500;
}
@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-MediumItalic.ttf) format('ttf');
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-Bold.ttf) format('ttf');
  font-weight: 700;
}
@font-face {
  font-family: 'DM Sans';
  src: url(./fonts/DMSans-BoldItalic.ttf) format('ttf');
  font-weight: 700;
  font-style: italic;
}

:root {
  font-family: 'DM Sans';
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  color: var(--white-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;


  /* Colors */

  --white-color: #F6F5EF;
  --linear-gradient: linear-gradient(107deg, #BEC7C2 0%, #A1B5BA 100%);
  --light-green: #93ABAE;
  --hover-btn-color: #88B3B9;
  --dark-blue: #11131F;
  --blue: #1F212D;
}

body{
  background-color: var(--dark-blue);
}

.container {
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
.btn-top .btn{
  border: 0;
  background: none;
  padding: 0;
}

.btn-top {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}

.swiper {
  width: 600px;
  height: 300px;
}

@media screen and (min-width: 768px) {
  .container{
      width: 768;
  }
}

@media screen and (min-width: 1280px) {
  .container{
      width: 1280;
  }
}