/*  Elshan Huliiev */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* YAHTS */

.yahts {}

.yaht-container {
    padding-left: 15px;
    padding-right: 15px;
    width: 335px;
}

.yaht-button-container {
    margin: 0 auto;
    padding-bottom: 80px;
}

.yach-button {
    border-radius: 60px;
    border: 1px solid var(--white, #F6F5EF);
    padding: 14px 28px;
    background-color: #11131F;
    color: #F6F5EF;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
}
 
.yach-button:hover {
    border-color: #93ABAE;
    color: #93ABAE;
}

.yach-button:focus {
    border-color: #93ABAE;
    color: #93ABAE;
}

.yaht-titel {
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -1.62px;
    margin-bottom: 40px;
}

.yaht-list-container {
    display: block;
}
.yach-button-list {
    width: 50px;
    height: 37px;
    border-radius: 60px;
    padding: 14px 16px;
    border: 1px solid var(--white, #F6F5EF);
    background-color: #1F212D;
    justify-content: center;
}

.button-swiper-container {
    display: flex;
    justify-content: center;
    gap: 14px;
    padding-top: 24px;
}

.yaht-list {
    gap: 16px;
}

.yaht-item {
    width: 335px;
    background-color: #1F212D;
    border-radius: 24px;
    padding: 18px;
}

.yacht-card {
    display: none;
}

.yaht-card {
    display: none;
}

.yaht-img {
    border-radius: 24px;
    width: 100%;
    margin-bottom: 32px;
}

.yaht-text-container {
    display: flex;
    align-items: baseline;
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 32px;
}

.yaht-name {
    color: var(#F6F5EF);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.92;
    letter-spacing: -0.72px;
}

.yaht-text {
    color: var(#F6F5EF);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    letter-spacing: 0.36px;
    margin-left: auto;
}

.char-container {
    display: flex;
    padding-left: 16px;
    padding-bottom: 16px;
}

.char-list {
    gap: 6px;
    margin-right: 32px;
}

.char-item {
    display: flex;
    justify-content: space-between;
}

.char-item-right {
    display: flex;
    justify-content: end;
}

.char-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: 0.42px;
    color: #F6F5EF;
}